body {
  background-color: lightblue;
}
h1 {
  color: rgb(113, 0, 128);
  margin-left: 20px;
}

.center {
  text-align: center;
  color: rgb(160, 219, 221);

}
.concept-image {
  max-width: 90%;
  height: auto;
  margin: 25px auto;
  border: 4px solid #fff; 
  box-shadow: 0 0 15px rgba(160, 219, 221, 0.8);
}
