body {
 background-image: url("https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=720");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

h1 {
  color: red;
  margin-left: 20px;
}

.center {
  text-align: center;
  color: rgb(160, 219, 221);

}
